name: Continuous Integration

on:
  pull_request:
  push:
    branches:
      - main
      - 'releases/*'

jobs:
  test-typescript:
    name: TypeScript Tests
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        id: checkout
        uses: actions/checkout@v4

      - name: Setup Node.js
        id: setup-node
        uses: actions/setup-node@v3
        with:
          node-version: 20
          cache: npm

      - name: Install Dependencies
        id: npm-ci
        run: npm ci

      - name: Check Format
        id: npm-format-check
        run: npm run format:check

      - name: Lint
        id: npm-lint
        run: npm run lint

      - name: Test
        id: npm-ci-test
        run: npm run ci-test

  test-action:
    name: GitHub Actions Test
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        id: checkout
        uses: actions/checkout@v4

      - name: Test Local Action
        id: test-action
        uses: ./
        with:
          webhook_url: ${{ secrets.DISCORD_TEST_WEBHOOK }}
          username: "ArsMagica: Legacy"
          avatar_url: https://github.com/MinecraftschurliMods/Ars-Magica-Legacy/blob/version/1.19.x/src/main/resources/logo_small.png?raw=true
          message: "<@213343613583622144> An update for ArsMagica: Legacy was released!"
          embeds: '[ { "title": "Update Released", "timestamp": "2024-02-08T15:08:13Z", "color": "#00ff00", "footer": { "text": "Potion Bundles" }, "thumbnail": { "url": "https://raw.githubusercontent.com/MinecraftschurliMods/PotionBundles/1.20.1-1.8/src/main/resources/logo_small.png" }, "author": { "name": "Minecraftschurli", "icon_url": "https://avatars.githubusercontent.com/u/23388022" }, "fields": [ { "name": "Version", "value": "`1.20-1.8`" }, { "name": "CurseForge", "value": "[Download](https://www.curseforge.com/minecraft/mc-mods/potion-bundles/files/5089821)", "inline": true }, { "name": "Modrinth", "value": "[Download](https://modrinth.com/mod/potion-bundles/version/1.20.1-1.8)", "inline": true }, { "name": "GitHub", "value": "[View](https://github.com/MinecraftschurliMods/PotionBundles/releases/tag/1.20.1-1.8)", "inline": true }, { "name": "Summary", "value": "```Fixed a rare compatibility issue```" } ] } ]'
          allowed_mentions: '213343613583622144'

      - name: Print Output
        id: output
        run: echo "${{ steps.test-action.outputs.response }}"
